body {
	background-color: #3FA60C;
}
button {
	padding: 1% 5%;
	display: block;
	margin:auto;
}
.board {
	width: 80%;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%); /* IE 9 */
	-webkit-transform: translate(-50%, -50%); /* Safari */
	transform: translate(-50%, -50%); /* Standard syntax */
	text-align: center;
}
.beaker {
	border-bottom: 25vh solid #FF970D;
	border-left: 10vh solid transparent;
	border-right: 10vh solid transparent;
    border-radius: 25vh 25vh 2vh 2vh;
	height: 0;
	width: 15vh;
	display: inline-block;
	line-height: 25vh;
	font-size: 15vh;
	text-align: center;
	color: #724a16;
	font-family: Arial;
	margin: 1%;
}

#mobil-vertical { 
	display: none; 
	font-size: 10vw;
	text-align: center;
	color: #724a16;
	font-family: Arial;
	padding: 1%;
	position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

@media only screen and (orientation:portrait) {
	.board { 
		display:none; 
	}
	#mobil-vertical { 
		display:block; 
	}
}

@media only screen and (orientation:landscape) {
	#mobil-vertical { 
		display:none; 
	}
}

.glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}